@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <br/>
    <p>Aplicação desenvolvida com o propósito de mostrar habilidades no desenvolvimento Web.
        <br/>
        <br/>
        O desenvolvimento dos exercícios propostos podem ser encontrados na aba "Exercícios".
        <br/>
        <br/>
        Atividade proposta no teste técnico da empresa Setis.
    </p>
</div>