@model List<UsuarioGridView>


<table class="table">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Entidade</th>
        <th>Perfil</th>
        <th>Sistema</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var usuario in Model)
    {
        <tr>
            <td>@usuario.Nome</td>
            <td>@usuario.Entidade</td>
            <td>@usuario.Perfil</td>
            <td>@usuario.Sistema</td>
        </tr>
    }
    </tbody>
</table>

